In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
myindex = ["USA", "CANADA", "MEXICO"]

In [4]:
mydata = [1776, 1867, 1821]

In [16]:
myser = pd.Series(data=mydata, index=myindex)

In [17]:
myser

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

In [18]:
myser[0]

1776

In [19]:
myser["USA"]

1776

In [20]:
ages = {"Jane": 5, "Joe": 10, "Rich": 15}

In [21]:
pd.Series(ages)

Jane     5
Joe     10
Rich    15
dtype: int64

In [22]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [23]:
sales_q1 = pd.Series(q1)

In [24]:
sales_q2 = pd.Series(q2)

In [25]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [26]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [27]:
sales_q1[0]

80

In [28]:
sales_q1["Japan"]

80

In [29]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [31]:
# Perform mathematical operation on the array
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [32]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [37]:
# Use the add method to retain both the keys and add the values where the keys match
first_type = sales_q1.add(sales_q2, fill_value=0)

In [38]:
first_type.dtype

dtype('float64')