In [2]:
import numpy as np
import pandas as pd

In [8]:
np.random.seed(101)
mydata = np.random.randint(low=0, high=101, size=(4, 3))

In [9]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [10]:
myindex = ["CA", "NY", "TX", "AZ"]

In [17]:
mycolumns = ["Jan", "Feb", "March"]

In [12]:
df = pd.DataFrame(mydata)

In [13]:
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [14]:
df = pd.DataFrame(data=mydata, index=myindex)

In [15]:
df

     0   1   2
CA  95  11  81
NY  70  63  87
TX  75   9  77
AZ  40   4  63

In [18]:
df = pd.DataFrame(data=mydata, index=myindex, columns=mycolumns)

In [19]:
df

    Jan  Feb  March
CA   95   11     81
NY   70   63     87
TX   75    9     77
AZ   40    4     63

In [20]:
df.info() # df is always stored on a ram, you can always use .info() to check memory utilization

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to AZ
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   March   4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes