In [2]:
import numpy as np
import pandas as pd

In [8]:
np.random.seed(101)
mydata = np.random.randint(low=0, high=101, size=(4, 3))

In [9]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [10]:
myindex = ["CA", "NY", "TX", "AZ"]

In [11]:
mycolums = ["Jan", "Feb", "March"]

In [12]:
df = pd.DataFrame(mydata)

In [13]:
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63