In [1]:
import numpy as np
import pandas as pd

In [2]:
email = "joy.machado@gmail.com"

In [3]:
email.split("@")

['joy.machado', 'gmail.com']

In [9]:
names = pd.Series(["andrew", "bobo", "claire", "david"])

In [10]:
names

0    andrew
1      bobo
2    claire
3     david
dtype: object

In [11]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
dtype: object

In [12]:
names.str.isdigit()

0    False
1    False
2    False
3    False
dtype: bool

In [13]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [14]:
tickers = pd.Series(tech_finance)

In [15]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [21]:
tickers.str.split(",", expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

['GOOG', 'APPL', 'AMZN']

In [22]:
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])

In [28]:
clean_names = messy_names.str.replace(";", "").str.strip().str.capitalize()

In [29]:
clean_names

0    Andrew
1      Bobo
2    Claire
dtype: object

In [30]:
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name

In [31]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object